test/nsidc-icesat2/reference_files/*.h5 filter=lfs diff=lfs merge=lfs -text
test/subset-band-name/reference_data/*.hdf filter=lfs diff=lfs merge=lfs -text
test/sambah/reference_files/all_data.nc4 filter=lfs diff=lfs merge=lfs -text
test/sambah/reference_files/spatial_only.nc4 filter=lfs diff=lfs merge=lfs -text
test/sambah/reference_files/temp_var_bbox.nc4 filter=lfs diff=lfs merge=lfs -text
test/sambah/reference_files/var_only.nc4 filter=lfs diff=lfs merge=lfs -text
test/smap-l2-gridder/reference_files/**/*.nc filter=lfs diff=lfs merge=lfs -text
