# This is a top level workflow that will use a matrix to build all images.

name: Build and Publish All Images

on:
  push:
    branches: [ main ]

jobs:
  build-images:
    strategy:
      matrix:
        targets:
          -
            image: "harmony"
            notebook: "Harmony.ipynb"
          -
            image: "harmony-regression"
            notebook: "HarmonyRegression.ipynb"
          -
            image: "hga"
            notebook: "HGA_Regression.ipynb"
          -
            image: "hoss"
            notebook: "HOSS_Regression.ipynb"
          -
            image: "hybig"
            notebook: "HyBIG_Regression.ipynb"
            lfs: "true"
          -
            image: "n2z"
            notebook: "N2Z_Regression.ipynb"
          -
            image: "nsidc-icesat2"
            notebook: "NSIDC-ICESAT2_Regression.ipynb"
            shared-utils: "true"
            lfs: "true"
          -
            image: "regridder"
            notebook: "Regridder_Regression.ipynb"
          -
            image: "subset-band-name"
            notebook: "SubsetBandName_Regression.ipynb"
            shared-utils: "true"
            lfs: "true"
          -
            image: "swath-projector"
            notebook: "SwathProjector_Regression.ipynb"
          -
            image: "trajectory-subsetter"
            notebook: "TrajectorySubsetter_Regression.ipynb"
            shared-utils: "true"
          -
            image: "variable-subsetter"
            notebook: "VariableSubsetter_Regression.ipynb"
          -
            image: "geoloco"
            notebook: "Geoloco_Regression.ipynb"
          -
            image: "net2cog"
            notebook: "net2cog_Regression.ipynb"
          -
            image: "opera-rtc-s1-browse"
            notebook: "opera-rtc-s1-browse_Regression.ipynb"
            lfs: "true"

    uses: ./.github/workflows/build-target-image.yml
    with:
      image-short-name: ${{ matrix.targets.image }}
      notebook-name: ${{ matrix.targets.notebook }}
      shared-utils: ${{ matrix.targets.shared-utils || 'false' }}
      lfs: ${{ matrix.targets.lfs || '' }}
